/*
 * Button mixin- creates 3d-ish button effect with correct
 * highlights/shadows, based on a base color.
 */
html {
  background: #f5f5f5;
}

/* Links */
a {
  color: #0073aa;
}

a:hover,
a:active,
a:focus {
  color: #0096dd;
}

#media-upload a.del-link:hover,
div.dashboard-widget-submit input:hover,
.subsubsub a:hover,
.subsubsub a.current:hover {
  color: #0096dd;
}

/* Forms */
input[type=checkbox]:checked:before {
  color: #04a4cc;
}

input[type=radio]:checked:before {
  background: #04a4cc;
}

.hq-core-ui input[type="reset"]:hover,
.hq-core-ui input[type="reset"]:active {
  color: #0096dd;
}

/* Core UI */
.hq-core-ui .button-primary {
  background: #04a4cc;
  border-color: #037c9a;
  color: white;
  -webkit-box-shadow: inset 0 1px 0 #22cffb, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 #22cffb, 0 1px 0 rgba(0, 0, 0, 0.15);
}

.hq-core-ui .button-primary:hover,
.hq-core-ui .button-primary:focus {
  background: #0490b3;
  border-color: #036881;
  color: white;
  -webkit-box-shadow: inset 0 1px 0 #09cafa;
  box-shadow: inset 0 1px 0 #09cafa;
}

.hq-core-ui .button-primary:focus {
  -webkit-box-shadow: inset 0 1px 0 #09cafa, 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
  box-shadow: inset 0 1px 0 #09cafa, 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
}

.hq-core-ui .button-primary:active {
  background: #037c9a;
  border-color: #036881;
  color: white;
  -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5), 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
  box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5), 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
}

.hq-core-ui .button-primary[disabled],
.hq-core-ui .button-primary:disabled,
.hq-core-ui .button-primary.button-primary-disabled,
.hq-core-ui .button-primary.disabled {
  color: #c7cfd1 !important;
  background: #0384a4 !important;
  border-color: #036881 !important;
  text-shadow: none !important;
}

.hq-core-ui .hq-ui-primary {
  color: #333;
  background-color: #e5e5e5;
}

.hq-core-ui .hq-ui-text-primary {
  color: #e5e5e5;
}

.hq-core-ui .hq-ui-highlight {
  color: #fff;
  background-color: #888;
}

.hq-core-ui .hq-ui-text-highlight {
  color: #888;
}

.hq-core-ui .hq-ui-notification {
  color: #fff;
  background-color: #d64e07;
}

.hq-core-ui .hq-ui-text-notification {
  color: #d64e07;
}

.hq-core-ui .hq-ui-text-icon {
  color: #999;
}

/* List tables */
.wrap .add-new-h2:hover, .wrap .page-title-action:hover,
.tablenav .tablenav-pages a:hover,
.tablenav .tablenav-pages a:focus {
  color: #333;
  background-color: #e5e5e5;
}

.view-switch a.current:before {
  color: #e5e5e5;
}

.view-switch a:hover:before {
  color: #d64e07;
}

/* Admin Menu */
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: #e5e5e5;
}

#adminmenu a {
  color: #333;
}

#adminmenu div.hq-menu-image:before {
  color: #999;
}

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #fff;
  background-color: #888;
}

#adminmenu li.menu-top:hover div.hq-menu-image:before,
#adminmenu li.opensub > a.menu-top div.hq-menu-image:before {
  color: #ccc;
}

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap h2 .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
  background-color: #f5f5f5;
  border-bottom-color: #f5f5f5;
}

/* Admin Menu: submenu */
#adminmenu .hq-submenu,
#adminmenu .hq-has-current-submenu .hq-submenu,
#adminmenu .hq-has-current-submenu.opensub .hq-submenu,
.folded #adminmenu .hq-has-current-submenu .hq-submenu,
#adminmenu a.hq-has-current-submenu:focus + .hq-submenu {
  background: #fff;
}

#adminmenu li.hq-has-submenu.hq-not-current-submenu.opensub:hover:after {
  border-right-color: #fff;
}

#adminmenu .hq-submenu .hq-submenu-head {
  color: #686868;
}

#adminmenu .hq-submenu a,
#adminmenu .hq-has-current-submenu .hq-submenu a,
.folded #adminmenu .hq-has-current-submenu .hq-submenu a,
#adminmenu a.hq-has-current-submenu:focus + .hq-submenu a,
#adminmenu .hq-has-current-submenu.opensub .hq-submenu a {
  color: #686868;
}

#adminmenu .hq-submenu a:focus,
#adminmenu .hq-submenu a:hover,
#adminmenu .hq-has-current-submenu .hq-submenu a:focus,
#adminmenu .hq-has-current-submenu .hq-submenu a:hover,
.folded #adminmenu .hq-has-current-submenu .hq-submenu a:focus,
.folded #adminmenu .hq-has-current-submenu .hq-submenu a:hover,
#adminmenu a.hq-has-current-submenu:focus + .hq-submenu a:focus,
#adminmenu a.hq-has-current-submenu:focus + .hq-submenu a:hover,
#adminmenu .hq-has-current-submenu.opensub .hq-submenu a:focus, #adminmenu .hq-has-current-submenu.opensub .hq-submenu a:hover {
  color: #04a4cc;
}

/* Admin Menu: current */
#adminmenu .hq-submenu li.current a,
#adminmenu a.hq-has-current-submenu:focus + .hq-submenu li.current a,
#adminmenu .hq-has-current-submenu.opensub .hq-submenu li.current a {
  color: #333;
}

#adminmenu .hq-submenu li.current a:hover,
#adminmenu .hq-submenu li.current a:focus,
#adminmenu a.hq-has-current-submenu:focus + .hq-submenu li.current a:hover,
#adminmenu a.hq-has-current-submenu:focus + .hq-submenu li.current a:focus,
#adminmenu .hq-has-current-submenu.opensub .hq-submenu li.current a:hover, #adminmenu .hq-has-current-submenu.opensub .hq-submenu li.current a:focus {
  color: #04a4cc;
}

ul#adminmenu a.hq-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
  border-right-color: #f5f5f5;
}

#adminmenu li.current a.menu-top,
#adminmenu li.hq-has-current-submenu a.hq-has-current-submenu,
#adminmenu li.hq-has-current-submenu .hq-submenu .hq-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: #fff;
  background: #888;
}

#adminmenu li.hq-has-current-submenu div.hq-menu-image:before,
#adminmenu a.current:hover div.hq-menu-image:before,
#adminmenu li.hq-has-current-submenu a:focus div.hq-menu-image:before,
#adminmenu li.hq-has-current-submenu.opensub div.hq-menu-image:before,
#adminmenu li:hover div.hq-menu-image:before,
#adminmenu li a:focus div.hq-menu-image:before,
#adminmenu li.opensub div.hq-menu-image:before,
.ie8 #adminmenu li.opensub div.hq-menu-image:before {
  color: #ccc;
}

/* Admin Menu: bubble */
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: #fff;
  background: #d64e07;
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.hq-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: #333;
  background: #fff;
}

/* Admin Menu: collapse button */
#collapse-menu {
  color: #777;
}

#collapse-menu:hover {
  color: #333;
}

#collapse-button div:after {
  color: #999;
}

#collapse-menu:hover #collapse-button div:after {
  color: #555;
}

/* Admin Bar */
#hqadminbar {
  color: #333;
  background: #e5e5e5;
}

#hqadminbar .ab-item,
#hqadminbar a.ab-item,
#hqadminbar > #hq-toolbar span.ab-label,
#hqadminbar > #hq-toolbar span.noticon {
  color: #333;
}

#hqadminbar .ab-icon,
#hqadminbar .ab-icon:before,
#hqadminbar .ab-item:before,
#hqadminbar .ab-item:after {
  color: #999;
}

#hqadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#hqadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#hqadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#hqadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
#hqadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: #04a4cc;
  background: #fff;
}

#hqadminbar:not(.mobile) > #hq-toolbar li:hover span.ab-label,
#hqadminbar:not(.mobile) > #hq-toolbar li.hover span.ab-label,
#hqadminbar:not(.mobile) > #hq-toolbar a:focus span.ab-label {
  color: #04a4cc;
}

#hqadminbar:not(.mobile) li:hover .ab-icon:before,
#hqadminbar:not(.mobile) li:hover .ab-item:before,
#hqadminbar:not(.mobile) li:hover .ab-item:after,
#hqadminbar:not(.mobile) li:hover #adminbarsearch:before {
  color: #ccc;
}

/* Admin Bar: submenu */
#hqadminbar .menupop .ab-sub-wrapper {
  background: #fff;
}

#hqadminbar .quicklinks .menupop ul.ab-sub-secondary,
#hqadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #f7f7f7;
}

#hqadminbar .ab-submenu .ab-item,
#hqadminbar .quicklinks .menupop ul li a,
#hqadminbar .quicklinks .menupop.hover ul li a,
#hqadminbar.nojs .quicklinks .menupop:hover ul li a {
  color: #686868;
}

#hqadminbar .quicklinks li .blavatar,
#hqadminbar .menupop .menupop > .ab-item:before {
  color: #999;
}

#hqadminbar .quicklinks .menupop ul li a:hover,
#hqadminbar .quicklinks .menupop ul li a:focus,
#hqadminbar .quicklinks .menupop ul li a:hover strong,
#hqadminbar .quicklinks .menupop ul li a:focus strong,
#hqadminbar .quicklinks .menupop.hover ul li a:hover,
#hqadminbar .quicklinks .menupop.hover ul li a:focus,
#hqadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#hqadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#hqadminbar li:hover .ab-icon:before,
#hqadminbar li:hover .ab-item:before,
#hqadminbar li a:focus .ab-icon:before,
#hqadminbar li .ab-item:focus:before,
#hqadminbar li.hover .ab-icon:before,
#hqadminbar li.hover .ab-item:before,
#hqadminbar li:hover #adminbarsearch:before,
#hqadminbar li #adminbarsearch.adminbar-focused:before {
  color: #04a4cc;
}

#hqadminbar .quicklinks li a:hover .blavatar,
#hqadminbar .menupop .menupop > .ab-item:hover:before,
#hqadminbar.mobile .quicklinks .ab-icon:before,
#hqadminbar.mobile .quicklinks .ab-item:before {
  color: #04a4cc;
}

#hqadminbar.mobile .quicklinks .hover .ab-icon:before,
#hqadminbar.mobile .quicklinks .hover .ab-item:before {
  color: #999;
}

/* Admin Bar: search */
#hqadminbar #adminbarsearch:before {
  color: #999;
}

#hqadminbar > #hq-toolbar > #hq-admin-bar-top-secondary > #hq-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: #333;
  background: #f7f7f7;
}

#hqadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
  color: #333;
  opacity: 0.7;
}

#hqadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
  color: #333;
  opacity: 0.7;
}

#hqadminbar #adminbarsearch .adminbar-input::-moz-placeholder {
  color: #333;
  opacity: 0.7;
}

#hqadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder {
  color: #333;
  opacity: 0.7;
}

/* Admin Bar: my account */
#hqadminbar .quicklinks li#hq-admin-bar-my-account.with-avatar > a img {
  border-color: #f7f7f7;
  background-color: #f7f7f7;
}

#hqadminbar #hq-admin-bar-user-info .display-name {
  color: #333;
}

#hqadminbar #hq-admin-bar-user-info a:hover .display-name {
  color: #04a4cc;
}

#hqadminbar #hq-admin-bar-user-info .username {
  color: #686868;
}

/* Pointers */
.hq-pointer .hq-pointer-content h3 {
  background-color: #04a4cc;
  border-color: #0490b3;
}

.hq-pointer .hq-pointer-content h3:before {
  color: #04a4cc;
}

.hq-pointer.hq-pointer-top .hq-pointer-arrow,
.hq-pointer.hq-pointer-top .hq-pointer-arrow-inner,
.hq-pointer.hq-pointer-undefined .hq-pointer-arrow,
.hq-pointer.hq-pointer-undefined .hq-pointer-arrow-inner {
  border-bottom-color: #04a4cc;
}

/* Media */
.media-item .bar,
.media-progress-bar div {
  background-color: #04a4cc;
}

.details.attachment {
  -webkit-box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #04a4cc;
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #04a4cc;
}

.attachment.details .check {
  background-color: #04a4cc;
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #04a4cc;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #04a4cc;
}

.media-selection .attachment.selection.details .thumbnail {
  -webkit-box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3px #04a4cc;
  box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3px #04a4cc;
}

/* Themes */
.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme a:hover:after,
.theme-browser .theme.add-new-theme a:focus:after {
  background: #04a4cc;
}

.theme-browser .theme.add-new-theme a:hover span:after,
.theme-browser .theme.add-new-theme a:focus span:after {
  color: #04a4cc;
}

.theme-section.current,
.theme-filter.current {
  border-bottom-color: #e5e5e5;
}

body.more-filters-opened .more-filters {
  color: #333;
  background-color: #e5e5e5;
}

body.more-filters-opened .more-filters:before {
  color: #333;
}

body.more-filters-opened .more-filters:hover,
body.more-filters-opened .more-filters:focus {
  background-color: #888;
  color: #fff;
}

body.more-filters-opened .more-filters:hover:before,
body.more-filters-opened .more-filters:focus:before {
  color: #fff;
}

/* Widgets */
.widgets-chooser li.widgets-chooser-selected {
  background-color: #888;
  color: #fff;
}

.widgets-chooser li.widgets-chooser-selected:before,
.widgets-chooser li.widgets-chooser-selected:focus:before {
  color: #fff;
}

/* Customize */
#customize-theme-controls .widget-area-select .selected {
  background-color: #888;
  color: #fff;
}

/* jQuery UI Slider */
.hq-slider .ui-slider-handle,
.hq-slider .ui-slider-handle.ui-state-hover,
.hq-slider .ui-slider-handle.focus {
  background: #04a4cc;
  border-color: #037c9a;
  -webkit-box-shadow: inset 0 1px 0 #22cffb, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 #22cffb, 0 1px 0 rgba(0, 0, 0, 0.15);
}

/* Responsive Component */
div#hq-responsive-toggle a:before {
  color: #999;
}

.hq-responsive-open div#hq-responsive-toggle a {
  border-color: transparent;
  background: #888;
}

.hq-responsive-open #hqadminbar #hq-admin-bar-menu-toggle a {
  background: #fff;
}

.hq-responsive-open #hqadminbar #hq-admin-bar-menu-toggle .ab-icon:before {
  color: #999;
}

/* TinyMCE */
.mce-container.mce-menu .mce-menu-item:hover,
.mce-container.mce-menu .mce-menu-item.mce-selected,
.mce-container.mce-menu .mce-menu-item:focus,
.mce-container.mce-menu .mce-menu-item-normal.mce-active,
.mce-container.mce-menu .mce-menu-item-preview.mce-active {
  background: #04a4cc;
}

/* temporary fix for admin-bar hover color */
#hqadminbar .ab-top-menu > li:hover > .ab-item,
#hqadminbar .ab-top-menu > li.hover > .ab-item,
#hqadminbar > #hq-toolbar > #hq-admin-bar-root-default li:hover span.ab-label,
#hqadminbar > #hq-toolbar > #hq-admin-bar-top-secondary li.hover span.ab-label,
#hqadminbar .ab-top-menu > li > .ab-item:focus,
#hqadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#hqadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
#hqadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: #333;
}

/* Override the theme filter highlight color for this scheme */
.theme-section.current,
.theme-filter.current {
  border-bottom-color: #04a4cc;
}
